[submodule "message-broker/kafka-docker"]
	path = message-broker/kafka-docker
	url = https://github.com/wurstmeister/kafka-docker.git
[submodule "python/osmnx"]
	path = python/osmnx
	url = https://github.com/gboeing/osmnx.git
[submodule "python/ipython-notebooks"]
	path = python/ipython-notebooks
	url = https://github.com/jdwittenauer/ipython-notebooks.git
