redis/data
redis/nodejs/node_modules
redis/helm-test/node_modules
django-postgres/mysite/mysite/__pycache__
django-postgres/mysite/polls/__pycache__
django-postgres/mysite/polls/migrations/__pycache__
python/.ipynb_checkpoints
python/img
python/electric-gauge/gauges
python/electric-gauge/needles
python/img-cat
python/img-dog
