[submodule "message-broker/kafka-docker"]
	path = message-broker/kafka-docker
	url = https://github.com/wurstmeister/kafka-docker.git
[submodule "python/python-machine-learning-book-2nd-edition"]
	path = python/python-machine-learning-book-2nd-edition
	url = https://github.com/rasbt/python-machine-learning-book-2nd-edition.git
[submodule "python/osmnx"]
	path = python/osmnx
	url = https://github.com/gboeing/osmnx.git
